@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main {
        @apply m-auto max-w-[1550px] px-1 py-3 sm:px-2 md:px-3;
    }

    header {
        @apply shadow-lg;
    }

    body {
        @apply bg-slate-50
    }

    .swiper-wrapper {
        display: none !important;
        flex-direction: row !important
    }
}

@layer components {
    .stripe-h2 {
        @apply text-xl font-semibold text-purple-700;
    }

    .dropdown:hover .dropdown-menu {
        display: block
    }
}

@layer utilities {
    /* h2 {
        @apply text-xl;
    } */
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    border: 2px solid white !important
}